body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gainsboro;
}

.header {
    background-color: blue;
    background: linear-gradient(to right, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0 1px 3px black;
    font-family: sans-serif;
    padding: 20px;
}

.page-title {
       color: white;
    margin: 0;
}
.page-subtitle {
    color: gainsboro;
    font-size: 18px;
    margin: 0px 20px;
}

.container {
    padding: 25px 50px;
}

.blog {
    border: 2px solid gray;
    border-radius: 0 15px;
    padding: 7px 14px;
}
.blog-post {
    background-color: white;
    border: 1px solid gray;
    margin: 5px 0;
    padding: 7px;
}
.input {
    background-color: unset;
    border: 0;
    border-bottom: 1px solid gray;
    font-size: 16px;
    height: 32px;
    margin: 5px 0;
    width: 100%;
    transition: all 0.2s ease-in-out 1s;
}
.input:hover {
    font-size: 20px;
}
.textarea {
    background-color: unset;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
}
.texarea:hover {
    font-size: 20px;
}
.button {
    background: none;
    border-width: 1px 2px 2px 1px;
    border-style: solid;
    cursor: pointer;
    font-size: 16px;
    padding: 7px 21px;
    transition: all 0.2s ease 0.2s;
}
.button.primary {
    background-color: yellow;
    border-color: #999900;
    font-weight: bold;
}
.button.primary:hover {
    background-color: #999900;
    border-color: #aaaa00;
}
.button.secundary {
    border-color: blue;
    border-radius: 7px;
    color: blue;
}

.footer {
    background: linear-gradient(to right, rgba(0,0,255,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    height: 80px;
}
